# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual environments
.venv/
env/
.venv.bak/

# Streamlit secrets
.streamlit/secrets.toml

# Datasets & indexes
data/
indexes/
*.epub
tests/test_vector_index/

# HuggingFace / Transformers cache
~/.cache/
*.ckpt
*.h5
*.pt
*.bin

# VSCode
.vscode/

# MacOS
.DS_Store

# Pytest
.pytest_cache/